.card {
  width: 540px;
}
.card__title {
<<<<<<< HEAD
  margin: 0 0 32px;
=======
  margin: 0;
>>>>>>> c7987a8848687ba7ca8eb617f7f815fd7677497c
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  gap: 16px;
=======
  gap: 32px;
>>>>>>> c7987a8848687ba7ca8eb617f7f815fd7677497c
  display: flex;
  flex-direction: column;
}
.card__list-item {
  display: flex;
  gap: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;
}
